{%- set user_items = {
      "applications": {"name": "APPLICATIONS", "enabled": false},
      "bookmarks-history": {"name": "BOOKMARKS", "enabled": false},
      "calculator": {"name": "MENU_EXPRESSION", "enabled": false},
      "contacts": {"name": "CONTACT", "enabled": false},
      "conversion": {"name": "MENU_CONVERSION", "enabled": false},
      "definition": {"name": "MENU_DEFINITION", "enabled": false},
      "developer": {"name": "SOURCE", "enabled": false},
      "documents": {"name": "DOCUMENTS", "enabled": false},
      "events-reminders": {"name": "EVENT_TODO", "enabled": false},
      "folders": {"name": "DIRECTORIES", "enabled": false},
      "fonts": {"name": "FONTS", "enabled": false},
      "images": {"name": "IMAGES", "enabled": false},
      "mail-messages": {"name": "MESSAGES", "enabled": false},
      "movies": {"name": "MOVIES", "enabled": false},
      "music": {"name": "MUSIC", "enabled": false},
      "other": {"name": "MENU_OTHER", "enabled": false},
      "pdf": {"name": "PDF", "enabled": false},
      "presentations": {"name": "PRESENTATIONS", "enabled": false},
      "siri": {"name": "MENU_SPOTLIGHT_SUGGESTIONS", "enabled": false},
      "spreadsheets": {"name": "SPREADSHEETS", "enabled": false},
      "system-preferences": {"name": "SYSTEM_PREFS", "enabled": false},
} %}

{%- for item in user.macos.uix.spotlight_index %}
{%-   do user_items[item].update({"enabled": true}) %}
{%- endfor %}
