{%- set sort_options = {
    'none': 'none',
    'grid': 'grid',
    'name': 'name',
    'kind': 'kind',
    'last_opened': 'dateLastOpened',
    'added': 'dateAdded',
    'modified': 'dateModified',
    'created': 'dateCreated',
    'size': 'size',
    'tags': 'label',
} -%}

{%- set u = user.macos.finder.view_icons %}
{%- set user_settings = {} %}

{%- if u.arrange is defined %}
    {%- do user_settings.update({'arrangeBy': sort.get(u.arrange, 'none')}) %}
{%- endif %}

{%- if u.size is defined %}
    {%- do user_settings.update({'iconSize': float(u.size)}) %}
{%- endif %}

{%- if u.spacing is defined %}
    {%- do user_settings.update({'gridSpacing': float(u.spacing)}) %}
{%- endif %}

{%- if u.info is defined %}
    {%- do user_settings.update({'showItemInfo': bool(u.info)}) %}
{%- endif %}

{%- if u.info_bottom is defined %}
    {%- do user_settings.update({'labelOnBottom': bool(u.info_bottom)}) %}
{%- endif %}

{%- if u.text_size is defined %}
    {%- do user_settings.update({'textSize': float(u.text_size)}) %}
{%- endif %}
