{%- set user_settings = [] %}

{%- set auth_types = {
    'none': 'EmailAuthNone',
    'password': 'EmailAuthPassword',
    'crammd5': 'EmailAuthCRAMMD5',
    'ntlm': 'EmailAuthNTLM',
    'httpmd5': 'EmailAuthHTTPMD5',
    } %}

{%- set account_types = {
    'imap': 'EmailTypeIMAP',
    'pop': 'EmailTypePOP',
    } %}

{%- for account in user.macos.mail.accounts %}
  {%- import_yaml tpldir ~ '/files/mail.mobileconfig.yml' as parsed_account with context %}
  {%- do user_settings.append(parsed_account) %}
{%- endfor %}
