{%- set u = user.macos.touch -%}

{#- this will be needed for automatic resolution in other helpers -#}
{%- set drag_and_swipe_conflicts = False %}
{%- set three_finger_conflicts = False %}

{#- this will be the final output. 0=disabled/drag, 1=pages 2=others -#}
{%- set status = {
  'vertical': 0,
  'horizontal': 0
  } -%}

{#- three finger drag and page scrolling with three fingers need both axes
    Note: three finger drag ThreeFinger = 0, while pages 1, while others 2 -#}
{%- set both = {
    'drag': u.get('drag', False),
    'pages': (u.get('swipe_pages') in ['three', 'both'])
    } -%}

{%- if both.drag and both.pages -%}
  {%- do salt['log.warning']("Conflicting configuration regarding three finger gestures for user '{}': Cannot enable both three finger drag and swiping pages with three fingers. Falling back to two-finger scrolling.".format(user.name)) -%}
  {%- do both.update({'pages': False}) -%}
  {%- set drag_and_swipe_conflicts = True %}
{%- endif -%}

{#- this will be needed for automatic resolution in other helpers -#}
{%- set both_taken = both.drag or both.pages %}

{%- set swipe_fullscreen = ('three' == u.get('swipe_fullscreen')) -%}
{%- set app_expose_mission_control = ('three' == u.get('app_expose_mission_control')) -%}

{%- if both_taken and (swipe_fullscreen or app_expose_mission_control) -%}
  {%- do salt['log.warning']("Conflicting configuration regarding three finger gestures for user '{}': Cannot enable three finger drag or swiping pages with three fingers together with other three finger gestures. Disabling other gestures.".format(user.name)) -%}
  {%- set swipe_fullscreen = False -%}
  {%- set app_expose_mission_control = False -%}
  {%- set three_finger_conflicts = True %}
{%- endif -%}

{%- if both.pages -%}
  {%- do status.update({'vertical': 1, 'horizontal': 1}) -%}
{%- endif -%}

{%- if swipe_fullscreen -%}
  {%- do status.update({'horizontal': 2}) -%}
{%- endif -%}

{%- if app_expose_mission_control -%}
  {%- do status.update({'vertical': 2}) -%}
{%- endif -%}
