{%- set m = macos.security.autoupdate -%}
{%- set system_settings = {
      "AutomaticCheckEnabled": false,
      "AutomaticDownload": false,
      "ConfigDataInstall": false,
      "CriticalUpdateInstall": false,
} -%}
{%- set appstore_setting = false -%}

{%- if m.get("check", true) -%}
{%-   do system_settings.update({"AutomaticCheckEnabled": true}) -%}
{%-   if m.get("schedule") -%}
{%-     do system_settings.update({"ScheduleFrequency": m.schedule | int}) -%}
{%-   endif -%}
{%-   if m.get("download", true) -%}
{%-     do system_settings.update({"AutomaticDownload": true}) -%}
{%-     if m.get("install_app", true) -%}
{%-       set appstore_setting = true -%}
{%-     endif -%}
{%-     if m.get("install_config", true) -%}
{%-       do system_settings.update({"ConfigDataInstall": true}) -%}
{%-     endif -%}
{%-     if m.get("install_critical", true) -%}
{%-       do system_settings.update({"CriticalUpdateInstall": true}) -%}
{%-     endif -%}
{%-     if m.get("install_system", true) -%}
{%-       do system_settings.update({"AutomaticallyInstallMacOSUpdates": true}) -%}
{%-     endif -%}
{%-   endif -%}
{%- endif -%}
